@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu {
    &__list {
        display: flex;
        text-transform: uppercase;
    }

    &__list-link {
        padding: 0 2px 1px;
        color: $title-color;
        transition: all 0.5s;

        &:hover {
            border-bottom: 1px solid $accent-color;
            color: $accent-color;

            @extend %R-700;
        }

        @extend %R-400;
    }

    &__list-link--active {
        border-bottom: 1px solid $accent-color;
        color: $accent-color;

        @extend %R-700;
    }

    &__list-item + &__list-item {
        padding-left: 40px;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link-number {
        position: absolute;
        right: -12px;
        top: -9px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        background-color: $accent-color;
    }

    &__link + &__link {
        padding-left: 25px;
    }
}

// ------------------------------------

.top-slider {
    background-image: url('../images/top-slider-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $bg-grey-color;

    &__container {
        position: relative;
        max-width: 1560px;
    }

    &__item-inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__text-content {
        margin-left: 175px;
        max-width: 570px;
    }

    &__title {
        margin: 200px 0 35px;
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title-color;

        @extend %R-700;
    }

    &__text {
        margin-bottom: 55px;
        max-width: 470px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 200px;

        @extend %btn;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 70px;
        display: flex;
        justify-content: center;
        transform: translateX(-50%);

        li {
            margin: 0 5px;

            button {
                position: relative;
                border: 1px solid transparent;
                border-radius: 50%;
                width: 28px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: $default-color;
                    transform: translate(-50%, -50%);
                }

                @extend %btn-clear;
            }

            &.slick-active {
                button {
                    border-color: $accent-color;

                    &::before {
                        background-color: $accent-color;
                    }
                }
            }
        }
    }
}

// ------------------------------------

.caegories-n-info {
    padding: 120px 0;
    background-image: url('../images/decor/categories-left-bg.png'), url('../images/decor/categories-right-bg.png');
    background-position: center left, center right;
    background-repeat: no-repeat, no-repeat;
}

.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;

    &::after,
    &::before {
        content: '';
        position: absolute;
    }

    &::before {
        left: 0;
        top: 0;
        z-index: -1;
        width: 120px;
        height: 121px;
        background-image: url(../images/decor/info-before.svg);
        transform: translate(-35%, -35%);
    }

    &::after {
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 65px;
        height: 52px;
        background-image: url(../images/decor/info-after.svg);
        transform: translate(35%, 35%);
    }

    &__item {
        padding: 60px 30px;
        max-width: 370px;
        box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
        background-color: #fff;
    }

    &__title {
        margin: 30px 0 10px;
        font-size: 22px;
        color: $title-color;

        @extend %R-400;
    }
}

.categories {
    &__items {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-height: 640px;
    }

    &__item {
        padding: 40px;
        background-position: center crnter;
        background-size: cover;
        background-repeat: no-repeat;

        &:nth-child(1) {
            grid-row: span 2;

            .categories__item-subtitle {
                color: #5800e4;
            }

            .categories__item-link:hover {
                border-bottom: 1px solid #5800e4;
                color: #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;
            padding-top: 120px;

            .categories__item-subtitle {
                color: $accent-color;
            }

            .categories__item-link:hover {
                display: inline-block;
                border-bottom: 1px solid $accent-color;
                color: $accent-color;
            }
        }

        &:nth-child(3) {
            .categories__item-subtitle {
                color: #ffb534;
            }

            .categories__item-link:hover {
                border-bottom: 1px solid #ffb534;
                color: #ffb534;
            }
        }

        &:nth-child(4) {
            .categories__item-subtitle {
                color: #34c3ff;
            }

            .categories__item-link:hover {
                border-bottom: 1px solid #34c3ff;
                color: #34c3ff;
            }
        }
    }

    &__item-title {
        margin-bottom: 10px;
        font-size: 22px;
        color: $title-color;

        @extend %R-500;
    }

    &__item-subtitle {
        margin-bottom: 5px;
        color: $title-color;

        @extend %Q-500;
    }

    &__item-link {
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        text-transform: uppercase;
        color: $title-color;
        transition: all 0.3s;
        cursor: pointer;

        @extend %R-400;
    }
}

.footer {
    background-color: $bg-grey-color;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 70px 0 40px;

    &__contact {
        margin-right: 50px;
        width: 250px;
    }

    &__subscribe {
        max-width: 470px;

        &-text {
            margin-bottom: 25px;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 1;
        color: $title-color;

        @extend %R-500;
    }

    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__social-link {
        transition: all 0.5s;

        path {
            fill: $default-color;
        }

        :hover {
            path {
                fill: $accent-color;
            }
        }
    }

    &__link {
        display: block;
        margin-bottom: 10px;
    }

    &__subscribe-email {
        border: none;
        padding: 12px;
        width: 100%;
        max-width: 320px;
        box-shadow: 0 7px 20px 0 rgba(192, 192, 192, 0.3);
        background-color: #fff;

        ::placeholder {
            color: $default-color;
        }
    }

    &__subscribe-btn {
        border: none;

        @extend %btn;
    }

    &__list-item {
        :hover {
            color: $accent-color;
            transition: all 0.5s;
        }
    }

    &__adress,
    &__email,
    &__phone {
        display: block;
        margin-bottom: 10px;
        transition: all 0.5s;

        &:hover {
            color: $accent-color;
        }
    }

    &__social-item + &__social-item {
        margin-left: 14px;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    font-size: 12px;

    &__accept {
        display: flex;
        align-items: center;

        &-img {
            display: inline-block;
            margin-left: 25px;
        }
    }
}

@import 'media';