@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu {
    &__list {
        display: flex;
        text-transform: uppercase;
    }

    &__list-link {
        padding: 0 2px 1px;
        color: $title-color;
        transition: all 0.5s;

        &:hover {
            border-bottom: 1px solid $accent-color;
            color: $accent-color;

            @extend %R-700;
        }

        @extend %R-400;
    }

    &__list-link--active {
        border-bottom: 1px solid $accent-color;
        color: $accent-color;

        @extend %R-700;
    }

    &__list-item + &__list-item {
        padding-left: 40px;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link-number {
        position: absolute;
        right: -12px;
        top: -9px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        background-color: $accent-color;
    }

    &__link + &__link {
        padding-left: 25px;
    }
}

// ------------------------------------

.page-top {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 120px 0;
        max-width: 1700px;
        text-align: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 48px;
        line-height: 1;
        text-transform: uppercase;
        color: $title-color;

        @extend %R-400;
    }
}

// ------------------------------------

.modal {
    margin: 120px auto;
    max-width: 570px;

    &__tab-links {
        margin-bottom: 40px;
        text-align: center;
    }

    &__tab-link {
        margin: 0 30px;
        font-size: 22px;
        text-transform: uppercase;

        @extend %R-400;
    }

    &__tab-link--active {
        color: $accent-color;

        @extend %R-700;
    }

    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__input {
        display: block;
        margin-top: 5px;
        border: none;
        padding: 0 15px;
        width: 100%;
        height: 60px;
        background-color: $bg-grey-color;
    }

    &__label-checkbox {
        display: block;
        margin: 40px 0 10px;
    }

    &__submit {
        display: block;
        margin-bottom: 10px;
        border: none;
        padding: 15px 0;
        width: 100%;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #fff;
        background-color: $title-color;
        cursor: pointer;

        @extend %R-400;
    }

    &__recovery {
        color: $accent-color;

        @extend %Q-500;
    }
}

// ------------------------------------

.top-slider {
    background-image: url(../images/top-slider-bg.png);
    background-color: $bg-grey-color;

    &__container {
        position: relative;
        max-width: 1560px;
    }

    &__item-inner {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__text-content {
        margin-left: 175px;
        max-width: 570px;
    }

    &__title {
        margin: 200px 0 35px;
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title-color;

        @extend %R-700;
    }

    &__text {
        margin-bottom: 55px;
        max-width: 470px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 200px;

        @extend %btn;
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: 70px;
        display: flex;
        justify-content: center;
        transform: translateX(-50%);

        li {
            margin: 0 5px;

            button {
                position: relative;
                border: 1px solid transparent;
                border-radius: 50%;
                width: 28px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    background-color: $default-color;
                    transform: translate(-50%, -50%);
                }

                @extend %btn-clear;
            }

            &.slick-active {
                button {
                    border-color: $accent-color;

                    &::before {
                        background-color: $accent-color;
                    }
                }
            }
        }
    }

    @extend %bg-center;
}

// ------------------------------------

.caegories-n-info {
    padding: 120px 0;
    background-image: url(../images/decor/categories-left-bg.png), url(../images/decor/categories-right-bg.png);
    background-position: center left, center right;
    background-repeat: no-repeat, no-repeat;
}

.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;

    &::after,
    &::before {
        content: '';
        position: absolute;
    }

    &::before {
        left: 0;
        top: 0;
        z-index: -1;
        width: 120px;
        height: 121px;
        background-image: url(../images/decor/info-before.svg);
        transform: translate(-35%, -35%);
    }

    &::after {
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 65px;
        height: 52px;
        background-image: url(../images/decor/info-after.svg);
        transform: translate(35%, 35%);
    }

    &__item {
        padding: 60px 30px;
        max-width: 370px;
        box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
        background-color: #fff;
    }

    &__title {
        margin: 30px 0 10px;
        font-size: 22px;
        color: $title-color;

        @extend %R-400;
    }
}

.categories {
    &__items {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-height: 640px;
    }

    &__item {
        padding: 40px;

        &:nth-child(1) {
            grid-row: span 2;

            .categories__item-subtitle {
                color: #5800e4;
            }

            .categories__item-link:hover {
                border-bottom: 1px solid #5800e4;
                color: #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;
            padding-top: 120px;

            .categories__item-subtitle {
                color: $accent-color;
            }

            .categories__item-link:hover {
                display: inline-block;
                border-bottom: 1px solid $accent-color;
                color: $accent-color;
            }
        }

        &:nth-child(3) {
            .categories__item-subtitle {
                color: #ffb534;
            }

            .categories__item-link:hover {
                border-bottom: 1px solid #ffb534;
                color: #ffb534;
            }
        }

        &:nth-child(4) {
            .categories__item-subtitle {
                color: #34c3ff;
            }

            .categories__item-link:hover {
                border-bottom: 1px solid #34c3ff;
                color: #34c3ff;
            }
        }

        @extend %bg-center;
    }

    &__item-title {
        margin-bottom: 10px;
        font-size: 22px;
        color: $title-color;

        @extend %R-500;
    }

    &__item-subtitle {
        margin-bottom: 5px;
        color: $title-color;

        @extend %Q-500;
    }

    &__item-link {
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        text-transform: uppercase;
        color: $title-color;
        transition: all 0.3s;
        cursor: pointer;

        @extend %R-400;
    }
}

// ------------------------------------

.video {
    padding: 120px 0;
    background-image: url(../images/decor/pattern.svg);
    background-color: $bg-grey-color;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
        width: 100%;
        height: 480px;
        max-width: 530px;

        @extend %bg-center;
    }

    &__content {
        max-width: 570px;
        text-align-last: left;

        &-subtitle {
            margin-bottom: 20px;
            padding-top: 80px;
            font-size: 22px;
            text-transform: uppercase;
            color: $accent-color;
        }

        &-text {
            margin-bottom: 60px;
        }
    }

    &__content-link {
        @extend %btn;
    }
}

.play-btn {
    position: relative;

    &__circle {
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &__img {
        z-index: 4;
        display: block;
        width: 90px;
        height: 90px;
    }

    &__wave1 {
        z-index: 3;
        width: 110px;
        height: 110px;
        background-color: #ff4141;
    }

    &__wave2 {
        z-index: 2;
        width: 130px;
        height: 130px;
        background-color: #ff7979;
    }

    &__wave3 {
        z-index: 1;
        width: 150px;
        height: 150px;
        background-color: #ffa7a7;
    }
}

@keyframes wave {
    0% {
        background-color: #ff4141;
    }

    50% {
        background-color: #ff7979;
    }

    100% {
        background-color: #ffa7a7;
    }
}

// ------------------------------------

.products {
    margin: 120px 0;
    text-align: center;

    &__items {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 30px;
    }

    &__link {
        border: 1px solid $accent-color;
        box-shadow: none;
        color: $title-color;
        background-color: #fff;

        &:hover {
            color: #fff;
            background-color: $accent-color;
        }

        @extend %btn;
    }
}

.product-item {
    max-width: 370px;
    text-align: center;

    &__img-box {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        height: 370px;

        img {
            object-fit: cover;
        }
    }

    .stars {
        margin: 0 auto 20px;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 26px;
        color: $title-color;

        @extend %R-400;
    }

    &__price {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;

        @extend %R-400;
    }

    &__price-new {
        padding: 0 12px;
        color: $title-color;
    }

    &__price-old {
        padding: 0 12px;
        text-decoration: line-through;
        color: $default-color;
    }

    &:hover {
        .popup-menu {
            bottom: 100px;
        }
    }
}

.popup-menu {
    position: relative;
    left: 50%;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    width: 212px;
    height: 50px;
    box-shadow: 0 5px 30px 0 rgba(152, 152, 152, 0.2);
    background-color: #fff;
    transform: translateX(-50%);
    transition: all 0.5s;

    &__link {
        display: inherit;

        svg {
            transition: all 0.5s;
        }

        &:hover {
            svg {
                fill: $accent-color;
            }
        }
    }

    &__delimeter::before {
        left: 70px;
    }

    &__delimeter::after {
        right: 70px;
    }

    &__delimeter::before,
    &__delimeter::after {
        content: '';
        position: absolute;
        top: 10px;
        display: inline-block;
        width: 1px;
        height: 30px;
        background-color: #ececec;
    }
}

.product-item--sale {
    .product-item__img-box::before {
        content: 'sale';
        position: absolute;
        left: 25px;
        top: 25px;
        padding: 2px 10px;

        @extend %btn;
    }
}

// ------------------------------------

.promo-top {
    margin-bottom: 120px;
    padding-top: 160px;
    text-align: center;
    background-image: url(../images/promo-bg.png);
    background-position: left 0;
    background-size: contain;
    background-color: $bg-grey-color;

    &__inner {
        margin-left: auto;
        max-width: 570px;
    }

    &__subtitle {
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: $accent-color;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 120px;
        border: 1px solid $accent-color;
        box-shadow: none;
        color: $title-color;
        background-color: transparent;

        &:hover {
            color: #fff;
            background-color: $accent-color;
        }

        @extend %btn;
    }

    @extend %bg-center;
}

.timer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        box-shadow: 0 10px 40px 0 rgba(187, 187, 187, 0.3);
        background-color: #fff;
    }

    &__item-digit {
        font-size: 48px;
        line-height: 1;
        text-align: center;
        color: $title-color;

        @extend %R-700;
    }

    &__item-text {
        text-transform: capitalize;
    }

    &__item + &__item {
        margin-left: 30px;
    }
}

.sponsors {
    margin-bottom: 120px;
    border-top: 40px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// ------------------------------------

.blog {
    padding-bottom: 170px;
    background-image: url(../images/blog-bg.svg);
    background-size: auto;

    &__items {
        position: relative;
        display: flex;
        justify-content: space-between;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            width: 126px;
            height: 53px;
            background-image: url(../images/decor/blog-after.svg);
            transform: translate(20%, -50%);
        }
    }

    &__item {
        max-width: 370px;

        &:hover {
            box-shadow: 20px 0 60px 0 rgba(202, 202, 202, 0.35);
        }
    }

    &__item-img-link {
        display: block;
    }

    &__item-img {
        height: 290px;
    }

    &__info {
        border: 1px solid #ececec;
        padding: 30px 0;
    }

    &__info-inner {
        margin: 0 auto;
        max-width: 290px;

        a {
            transition: all 0.5s;
        }

        a:hover {
            color: $accent-color;
        }
    }

    &__info-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 26px;
    }

    &__item-user-link {
        max-width: 130px;
        white-space: nowrap;

        &::before {
            background-image: url(../images/icons/user-grey.svg);
        }
    }

    &__item-data-link {
        &::before {
            background-image: url(../images/icons/clock-grey.svg);
        }
    }

    &__item-title-link {
        color: $title-color;

        &:hover {
            .blog__item-more-link::after {
                background-image: url(../images/icons/arrow-accent.svg);
            }
        }
    }

    &__info-title {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 32px;
        color: $title-color;

        @extend %R-400;
    }

    &__item-more-link {
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 10px;
            height: 8px;
            background-image: url(../images/icons/arrow-grey.svg);
            transform: translate(150%, -50%);

            @extend %bg-center;
        }

        &:hover::after {
            animation: read-more 0.5s infinite alternate;
        }
    }

    &__item-user-link,
    &__item-data-link {
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding-left: 25px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 3px;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
        }
    }

    @extend %bg-center;
}

@keyframes read-more {
    0% {
        right: 0;
    }

    100% {
        right: -10px;
    }
}

// ------------------------------------

.footer {
    background-color: $bg-grey-color;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 70px 0 40px;

    &__contact {
        margin-right: 50px;
        width: 250px;
    }

    &__subscribe {
        max-width: 470px;

        &-text {
            margin-bottom: 25px;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 1;
        color: $title-color;

        @extend %R-500;
    }

    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__social-link {
        transition: all 0.5s;

        path {
            fill: $default-color;
        }

        :hover {
            path {
                fill: $accent-color;
            }
        }
    }

    &__link {
        display: block;
        margin-bottom: 10px;
    }

    &__subscribe-email {
        border: none;
        padding: 12px;
        width: 100%;
        max-width: 320px;
        box-shadow: 0 7px 20px 0 rgba(192, 192, 192, 0.3);
        background-color: #fff;

        ::placeholder {
            color: $default-color;
        }
    }

    &__subscribe-btn {
        border: none;

        @extend %btn;
    }

    &__list-item {
        :hover {
            color: $accent-color;
            transition: all 0.5s;
        }
    }

    &__adress,
    &__email,
    &__phone {
        display: block;
        margin-bottom: 10px;
        transition: all 0.5s;

        &:hover {
            color: $accent-color;
        }
    }

    &__social-item + &__social-item {
        margin-left: 14px;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    font-size: 12px;

    &__accept {
        display: flex;
        align-items: center;

        &-img {
            display: inline-block;
            margin-left: 25px;
        }
    }
}

@import 'media';